mat-card {
    padding: 12px;
    max-height: 373px !important;
}

.title {
    margin-bottom: 16px;
}

.interval-content {
    display: flex;
    justify-content: space-around;
}

mat-card-header {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 46%;
}

.interval-input-boxes {
    display: flex;
    gap: 8px;
}

mat-icon {
    color: black;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

mat-divider {
    margin: 16px 0 8px;
}