<div class="content">
    <!-- <mat-divider></mat-divider> -->
    <div class="interval">
        <div class="interval-title">
            <h3>Alarm</h3>
            <mat-icon>notifications_active</mat-icon>
        </div>
        <input style="visibility: hidden;">
        <button mat-raised-button color="primary" (click)="openAddIntervalCard()">3.1</button>
        <button mat-raised-button color="primary" (click)="openAddIntervalCard()">4.2</button>
    </div>

    <div class="pre-interval">
        <div class="pre-interval-title">
            <h3>Pre-Alarm</h3>
            <mat-icon>notifications</mat-icon>
        </div>
        <input style="visibility: hidden;">
        <button mat-raised-button color="primary" (click)="openAddPreIntervalCard()">3.1</button>
        <button mat-raised-button color="primary" (click)="openAddPreIntervalCard()">4.2</button>
    </div>

    <mat-divider></mat-divider>

    <div class="gym-diary-title">
        <h3>Gym-Diary</h3>
        <mat-icon>fitness_center</mat-icon>
    </div>
    <button mat-raised-button color="primary" (click)="openAddExerciseCard()"><mat-icon>add</mat-icon>Add
        exercise</button>
</div>