<div class="login-box">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h1>PUMPING HERO</h1>

    <button class="google-btn-div" id="google-btn" [disabled]="loadingLogin">
        <div class="google-login">
            <img src="./../../assets/img/Google.png">
            <span>Anmelden mit Google</span>
        </div>
    </button>

    <img src="./../../assets/img/login-bodybuilder.png" class="login-bodybuilder-img">

    <div>
        <a href=""></a>
        <a href=""></a>
    </div>
</div>