<app-timer></app-timer>

<div class="content">
    <mat-divider></mat-divider>

    <div class="interval">
        <div class="interval-title">
            <h3>Alert every</h3>
            <mat-icon>notifications_active</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns"
            (click)="this.shareTimeService.toggleInterval('firstInterval'); this.shareTimeService.logCurrentTime();this.shareTimeService.intervalComparison();"
            [id]="shareTimeService.activeFirstInterval"
            [ngClass]="{'active-button': shareTimeService.activeFirstInterval}">
            {{ shareTimeService.firstIntervalMin }}m<br>{{ shareTimeService.firstIntervalSec }}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeSecondInterval"
            (click)="this.shareTimeService.toggleInterval('secondInterval'); this.shareTimeService.logCurrentTime();this.shareTimeService.intervalComparison();"
            [ngClass]="{'active-button': shareTimeService.activeSecondInterval}">
            {{ shareTimeService.secondIntervalMin }}m<br>{{ shareTimeService.secondIntervalSec }}s
        </button>
    </div>

    <div class="pre-interval">
        <div class="pre-interval-title">
            <h3>Pre Alert</h3>
            <mat-icon>notifications</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeFirstPreInterval"
            (click)="this.shareTimeService.togglePreInterval('firstPreInterval'); this.shareTimeService.logCurrentTime();"
            [ngClass]="{'active-button': shareTimeService.activeFirstPreInterval}">
            {{ shareTimeService.firstPreIntervalMin }}m<br>{{ shareTimeService.firstPreIntervalSec}}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeSecondPreInterval"
            (click)="this.shareTimeService.togglePreInterval('secondPreInterval'); this.shareTimeService.logCurrentTime();"
            [ngClass]="{'active-button': shareTimeService.activeSecondPreInterval}">
            {{ shareTimeService.secondPreIntervalMin }}m<br>{{ shareTimeService.secondPreIntervalSec}}s
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="gym-diary-title">
        <h3>Gym-Diary</h3>
        <mat-icon>fitness_center</mat-icon>
    </div>
    <div class="gym-diary">
        <button mat-raised-button color="primary" (click)="openAddExerciseCard()"><mat-icon>add</mat-icon>Add
            exercise</button>
        <button mat-raised-button color="primary">
            <h3>Back</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Chest</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Shoulders and Bis</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Claves</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Bizeps Tripzes</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Laufen und Chin ups</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Claves</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Bizeps Tripzes</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Laufen und Chin ups</h3>
        </button>

    </div>
</div>