<app-timer></app-timer>

<div class="content">
    <mat-divider *ngIf="shareTimeService.show"></mat-divider>

    <div class="interval" *ngIf="shareTimeService.show">
        <div class="interval-title">
            <h3>Alert every</h3>
            <mat-icon>notifications_active</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns"
            (click)="this.shareTimeService.toggleInterval('firstInterval'); this.shareTimeService.logCurrentTime();this.shareTimeService.intervalComparison();"
            [id]="shareTimeService.activeFirstInterval"
            [ngClass]="{'active-button': shareTimeService.activeFirstInterval}">
            {{ shareTimeService.firstIntervalMin }}m<br>{{ shareTimeService.firstIntervalSec }}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeSecondInterval"
            (click)="this.shareTimeService.toggleInterval('secondInterval'); this.shareTimeService.logCurrentTime();this.shareTimeService.intervalComparison();"
            [ngClass]="{'active-button': shareTimeService.activeSecondInterval}">
            {{ shareTimeService.secondIntervalMin }}m<br>{{ shareTimeService.secondIntervalSec }}s
        </button>
    </div>

    <div class="pre-interval" *ngIf="shareTimeService.show">
        <div class="pre-interval-title">
            <h3>Pre Alert</h3>
            <mat-icon>notifications</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeFirstPreInterval"
            (click)="this.shareTimeService.togglePreInterval('firstPreInterval'); this.shareTimeService.logCurrentTime();"
            [ngClass]="{'active-button': shareTimeService.activeFirstPreInterval}">
            {{ shareTimeService.firstPreIntervalMin }}m<br>{{ shareTimeService.firstPreIntervalSec}}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="shareTimeService.activeSecondPreInterval"
            (click)="this.shareTimeService.togglePreInterval('secondPreInterval'); this.shareTimeService.logCurrentTime();"
            [ngClass]="{'active-button': shareTimeService.activeSecondPreInterval}">
            {{ shareTimeService.secondPreIntervalMin }}m<br>{{ shareTimeService.secondPreIntervalSec}}s
        </button>
    </div>

    <mat-divider *ngIf="shareTimeService.show"></mat-divider>

    <div class="gym-diary-title" *ngIf="shareTimeService.show">
        <button mat-mini-fab color="primary" (click)="shareTimeService.showEditDiary = !shareTimeService.showEditDiary">
            <mat-icon *ngIf="!shareTimeService.showEditDiary">edit</mat-icon>
            <mat-icon *ngIf="shareTimeService.showEditDiary">edit_off</mat-icon>
        </button>
        <h3>Gym-Diary</h3>

        <button mat-mini-fab color="primary" (click)="backup()" *ngIf="shareTimeService.showEditDiary">
            <mat-icon>save</mat-icon>
        </button>

        <button mat-mini-fab color="primary" (click)="openAddExerciseCard()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="gym-diary scroll-bar" *ngIf="shareTimeService.show">

        <button mat-raised-button color="primary"
            *ngFor="let exercise of shareTimeService.exercisesList; let i = index;" class="diaryBtn"
            [style.background-image]="shareTimeService.getBackgroundImage(exercise)"
            (click)="openEditExercise(exercise, i)">

            <h3>{{ exercise }}</h3>

            <button mat-mini-fab color="primary" class="removeDiaryBtn" (click)="removeDiaryEntry($event, exercise)"
                *ngIf="shareTimeService.showEditDiary">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-mini-fab color="primary" class="editDiaryBtn" *ngIf="shareTimeService.showEditDiary"
                (click)="editDiaryEntry($event, exercise)">
                <mat-icon>edit</mat-icon>
            </button>

        </button>
    </div>

    <app-edit-exercise *ngIf="!shareTimeService.show"></app-edit-exercise>
</div>