<app-timer></app-timer>

<div class="content">
    <mat-divider></mat-divider>

    <div class="interval">
        <div class="interval-title">
            <h3>Alert every</h3>
            <mat-icon>notifications_active</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns" (click)="setInterval('firstInterval')"
            [id]="activeFirstInterval" [ngClass]="{'active-button': activeFirstInterval}">
            {{ firstIntervalMin}}m<br>{{ firstIntervalSec }}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="activeSecondInterval"
            (click)="setInterval('secondInterval')" [ngClass]="{'active-button': activeSecondInterval}">
            {{secondIntervalMin }}m<br>{{ secondIntervalSec }}s
        </button>
    </div>

    <div class="pre-interval">
        <div class="pre-interval-title">
            <h3>Pre Alert</h3>
            <mat-icon>notifications</mat-icon>
        </div>
        <button mat-raised-button color="primary" class="interval-btns" [id]="activeFirstPreInterval"
            (click)="setInterval('firstPreInterval')" [ngClass]="{'active-button': activeFirstPreInterval}">
            {{firstPreIntervalMin }}m<br>{{firstPreIntervalSec}}s
        </button>
        <button mat-raised-button color="primary" class="interval-btns" [id]="activeSecondPreInterval"
            (click)="setInterval('secondPreInterval')" [ngClass]="{'active-button': activeSecondPreInterval}">
            {{secondPreIntervalMin }}m<br>{{secondPreIntervalSec}}s
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="gym-diary-title">
        <h3>Gym-Diary</h3>
        <mat-icon>fitness_center</mat-icon>
    </div>
    <div class="gym-diary">
        <button mat-raised-button color="primary" (click)="openAddExerciseCard()"><mat-icon>add</mat-icon>Add
            exercise</button>
        <button mat-raised-button color="primary">
            <h3>Back</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Chest</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Shoulders and Bis</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Claves</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Bizeps Tripzes</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Laufen und Chin ups</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Claves</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Bizeps Tripzes</h3>
        </button>
        <button mat-raised-button color="primary">
            <h3>Laufen und Chin ups</h3>
        </button>

    </div>
</div>