.timer-title,
.interval-title,
.pre-interval-title {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 112px;
}

.interval,
.pre-interval {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0;

    .interval-btns {
        min-width: 66px;
        height: 56px;
        border-radius: 16px;
    }
}

.interval {
    margin-bottom: -16px;
}

.gym-diary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
    position: relative;

    button {
        margin: 0 8px;
    }

    #showHideTime {
        position: absolute;
        top: 0;
        right: 0;
    }

    .saveIcon {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.hideTimeContent {
    position: absolute;
    z-index: -9999;
    visibility: hidden;
}

.gym-diary {
    display: flex;
    row-gap: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 16px 0;
    width: 100%;
    height: calc(100vh - 490px);
    overflow-y: auto;
    padding-left: 8px;

    .addDiaryBtn,
    .diaryBtn {
        height: 96px;
        width: 45%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;

        h3 {
            gap: 8px;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 8px;
            border-radius: 4px;
            width: 138px;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.2;
        }
    }
}

.editDiaryBtn,
.removeDiaryBtn {
    position: absolute !important;
    border: 1px solid white;
}


.editDiaryBtn {
    right: 0;
}

.removeDiaryBtn {
    right: 50px;
}

.active-button {
    background-color: purple !important;
}

.content.hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}