<div class="add-exercise">
    <mat-card>
        <mat-card-header>
            <mat-card-title>First interval</mat-card-title>
            <div class="interval-input-boxes">
                <mat-form-field class="example-form-field">
                    <mat-label>Minutes</mat-label>
                    <input matInput type="number" [(ngModel)]="firstIntervalMin" min="0" max="59">
                </mat-form-field>
                <mat-form-field class="example-form-field">
                    <mat-label>Seconds</mat-label>
                    <input matInput type="number" [(ngModel)]="firstIntervalSec" min="0" max="59">
                </mat-form-field>
            </div>
        </mat-card-header>
        <mat-card-header>
            <mat-card-title>Second interval</mat-card-title>
            <div class="interval-input-boxes">
                <mat-form-field class="example-form-field">
                    <mat-label>Minutes</mat-label>
                    <input matInput type="number" [(ngModel)]="secondIntervalMin" min="0" max="59">
                </mat-form-field>
                <mat-form-field class="example-form-field">
                    <mat-label>Seconds</mat-label>
                    <input matInput type="number" [(ngModel)]="secondIntervalSec" min="0" max="59">
                </mat-form-field>
            </div>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="this.dialogRef.close()">Cancel</button>
            <button mat-button (click)="saveUser()">Apply</button>
        </mat-card-actions>
    </mat-card>
</div>