.btns {
    gap: 16px;
    display: flex;
    height: calc(100% - 48px);
    flex-direction: column;
    overflow-y: hidden;
    // margin-top: 16px;
    align-items: center;

    button {
        width: 240px;
    }
}