.btns {
    gap: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-top: 40px;
    align-items: center;

    a {
        width: 240px;
        height: 48px;
    }
}

button {
    margin: 16px;
}

app-privacy-policy {
    display: flex;
    justify-content: center;
}