.btns {
    gap: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-top: 40px;
    align-items: center;

    button {
        width: 240px;
        height: 48px;
    }
}