body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100vh;
    width: 768px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1F1F1F;
    caret-color: transparent;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

.mat-icon {
    color: white;
}

.mat-divider {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 8px 0;
}

.content {
    padding: 0 16px;
    overflow-y: auto !important;
    // height: calc(100vh - 48px - 66px - 20px - 48px);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    color: white;
    margin: 0 !important;
}

li {
    color: white;
}

.mdc-tab__text-label {
    color: white !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--mat-tab-header-active-label-text-color) !important;
}

// circle
.mat-mdc-progress-spinner {
    width: 60px !important;
    height: 60px !important;
}

.cdk-global-overlay-wrapper {
    top: -5% !important;
}

// snackbar
.mat-mdc-snack-bar-handset,
.mdc-snackbar__label {
    padding: 16px 16px !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdc-snackbar__surface {
    padding: 0 !important;
}

// box below input-fields
.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align {
    display: none !important;
}

// input-fields radius
.mat-mdc-text-field-wrapper,
.mdc-text-field {
    border-radius: 8px !important;
}

mat-mdc-dialog-surface, .mdc-dialog__surface{
    max-width: 768px !important;
}

// reps counter input field
// .ng-tns-c1798928316-5 {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//     padding-left: 0 !important;
//     padding-right: 0 !important;

//     .mdc-text-field__input {
//         margin-top: 13px;
//         padding: 0 8px !important;
//         text-align: center;
//     }
// }

/* scroll */
.scroll-bar::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('./assets/img/arrow_drop_up.png');
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-size: auto 4px;
    background-repeat: no-repeat;
}

.scroll-bar::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('./assets/img/arrow_drop_down.png');
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-size: auto 4px;
    background-repeat: no-repeat;
}

.scroll-bar::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}